.home-page {
  margin-top: 4%;
  width: 100%;
}

.temp {
  background-color: #f6fff8;
}

.tempHome {
  width: 100%;
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}

.app-left {
  flex-basis: 20%;
}

app-right {
  flex-grow: 1;
  flex-basis: 100%;
}
