.home-page {
  margin-top: 40px;
}

.temp {
  background-color: #f6fff8;
}

.tempHome {
  display: flex;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

.app-left {
  flex: auto;
}

.app-right {
  margin-top: 10px;
  flex: auto;
}
