.order-page {
  margin-top: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.order-content {
  margin-left: 7%;
  margin-right: 7%;
}

.order-day-items {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.order-day-items hr{
  margin-left: 2%;
  margin-right: 2%;
}

.order-day-items h5 {
  text-align: right;
}

.order-day-items-header{
  display: flex;
  margin: 2% 3% 0 2%;
}

.order-day-items-header h5{
  flex: 1;
  text-align:right;
  font-weight: normal;

}

.order-day-items-header p{
  margin-left: 5%;
  
  font-size: 1.3em;
}