.modal-adj {
  width: 50%;
  position: fixed;

  bottom: 0;
  right: 0;
  margin: 0;
}

.modal-wrapper {
  display: flex;
}

.modal-wrapper-left {
  flex: 20%;
}

.modal-wrapper-left img {
  width: 150px;
  height: 150px;
}

.modal-wrapper-right {
  flex: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.modal-wrapper-item {
  font-size: 20px;
  margin-right: 5%;
  margin-left: 5%;
}
