.card-hover-info {
  background-color: #333533;
  width: 17rem;
  height: 27rem;
  color: rgb(0, 0, 0);
  border-radius: 2%;
  padding: 2%;
  margin: 2%;
  display: flex;
  align-items: center;
}

.card-img-top{
  height: 200px;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
}

.card-hover-info .card-text {
  font-size: 40px;
}

.card-hover-info-box {
  text-align: center;
  margin-top: 70%;
  background-color: rgba(255, 255, 255, 0.719);
  width: 100%;
  height: auto;
}
