.catalogfeatures {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}

.btn-new-content Button{
  background-color: #3d3d3d;
}

.catalogfeatures-left {
  flex: 1;
}

.catalogfeatures-right {
  flex: 60%;
}

.catalogfeatures-search {
  margin-left: 2%;
  margin-right: 3%;
}

.btn-new-content {
  margin-left: 30%;
  margin-bottom: 20px;
}

.btn-new-content Button {
  width: 30%;
  margin-right: 2%;
}
