.catalogfeatures {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}

.catalogfeatures-left {
  flex: 1;
}

.catalogfeatures-right {
  flex: 60%;
}

.catalogfeatures-search {
  margin-left: 2%;
  margin-right: 3%;
}
