.review-section {
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  padding: 3% 3% 3% 3%;
  background-color: #fff;
}

.review-section-top {
  display: flex;
  margin-bottom: 2%;
}

.review-section-top-left {
  flex: 1;
}

.review-section-top-right {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.reviews-empty{
  text-align: center;
  font-size: 1.5em;
}